* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #111;
  overflow-x: hidden;
}
#main {
  position: relative;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  overflow-y: scroll;
  overflow: visible;
}
h1 {
  position: fixed;
  color: #fff;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  z-index: 10;
  opacity: 0;
}

.row {
  height: 100vh;
}
img {
  height: 430px;
  display: block;
  padding: 10px;
  padding-top: 0;
}

#row2 {
  margin-top: -500px;
}
#row4 {
  margin-top: -500px;
}
footer {
  min-height: 100vh;
  width: 100%;
}
